/step01/source/build_vs2015
/step01/source/bin/
/step01/source/lib/
/step01/source/Samples/hello/Android/app/libs
/step01/source/vs2015
/step01/source/vs2015-x86
/step01/source/vs2015-x64
/step01/source/xcode-ios
/step01/source/xcode-simulator
/step01/source/xcode-osx
/step01/source/codeblocks-linux
/step02/source/vs2015
/step02/source/xcode-ios
/step02/source/xcode-simulator
/step02/source/xcode-osx
/step02/source/codeblocks-linux
/step02/source/bin
/step02/source/lib
/step02/source/Samples/hello/Android/app/libs
